@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :where(.vajra-landing) *,
  :where(.vajra-landing) ::before,
  :where(.vajra-landing) ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }
  
  :where(.vajra-landing) button {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    padding: 0;
    margin: 0;
  }
  
  :where(.vajra-landing) a {
    color: inherit;
    text-decoration: inherit;
  }
}